DBT_PORT=8123
DBT_USER=aadev
DBT_PASSWORD=adminn
DBT_SCHEMA=nusadb
DBT_HOST=localhost
DBT_THREADS=3
DBT_CONNECT_TIMEOUT=10

DBT_PROFILES_DIR= C:\Users\Naufal\Documents\Bootcamp DA Nusacodes - Exercise\pertemuan-05-06-dbt